<%# Write your code here! %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="/greet" method="post">
    <label for="user_name">Name:</label>
    <p><input type="text" name="user_name" id="user_name"></p>
    <input type="submit" value="Submit">
    </form>
</body>
</html>